.income-list {
  padding: 1rem;
  background-color: #fcedd3; /* Light peach background */
  border-radius: 0.75rem;
  color: #000000; /* Black text color */

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
    color: #1e4210; /* Dark green for headings */
  }

  .empty-state {
    background-color: #e6b800; /* Gold background */
    padding: 2rem;
    border-radius: 0.5rem;
    text-align: center;
    color: #876510; /* Brown text color */
  }

  .table-container {
    overflow-x: auto;
    background-color: #fcedd3; /* Light peach background */
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  /* Ensure the td elements are part of the animation */
  .income-table tbody tr.highlight-row td {
    animation: pulse 3.5s ease-in; /* Animation on each <td> */
    background-color: #d2b955; /* Override with highlight color */
  }
  @keyframes pulse {
    0% {
      background-color: #d2b955;
    }
    50% {
      background-color: #fcedd3; /* Fade back to original color */
    }
    100% {
      background-color: transparent;
    }
  }

  .income-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    overflow: hidden;

    th,
    td {
      padding: 0.75rem 1rem;
      text-align: left;
    }

    th {
      background-color: #876510; /* Brown background */
      font-weight: 600;
      color: #fcedd3; /* Light peach text */
      border-bottom: 2px solid #e6b800; /* Gold border */
    }

    td {
      border-bottom: 1px solid #e6b800; /* Gold border */
      background-color: #fcedd3; /* Light peach background */
      color: #000000; /* Black text */
    }

    tbody tr:hover td {
      background-color: rgba(230, 184, 0, 0.15);
    }

    .income-table tbody tr.highlight-row:hover {
      background-color: #b8f3b8 !important;
    }


    .amount {
      font-weight: 600;
      color: #1e4210; /* Dark green for amounts */
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      button {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &.edit-btn {
          background-color: #1e4210;
          color: white;

          &:hover {
            background-color: #2b6cb0;
          }
        }

        &.delete-btn {
          background-color: #e53e3e;
          color: white;

          &:hover {
            background-color: #c53030;
          }
        }
      }
    }

    .total-row {
      font-weight: 600;

      td.total-label {
        text-align: left;
        padding-right: 1rem;
      }

      td.total-amount {
        text-align: center;
      }
    }
  }
}

.income-list .total-amount.positive {
  color: #24ac18 !important; // Green color
  font-weight: 700;
}

.income-list .total-amount.negative {
  color: #c53030 !important; // Red color
  font-weight: 700;
}
