.trophy-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  width: 40%;
  transform: translateX(-50%);
  background: #F3F4F6;
  border: 2px solid #E5E7EB;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 5px 10px 15px rgba(0,0,0,0.2);
  text-align: center;
  z-index: 9999;
  animation: fadeInOut 4s ease forwards;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    transform: skewX(-20deg);
    animation: shine 2s ease-in-out forwards;
    pointer-events: none;
  }

  img {
    width: 80px;
    height: auto;
    margin-bottom: 1rem;
  }


  @keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -20%); }
    10% { opacity: 1; transform: translate(-50%, 0); }
    90% { opacity: 1; }
    100% { opacity: 0; transform: translate(-50%, -20%); }
  }

  @keyframes shine {
    0% { left: -50%; }
    100% { left: 100%; }
  }
}