.dashboard {
  max-width: 1440px; /* Set a maximum width for the dashboard */
  max-height: 2160px; /* Set a maximum height for the dashboard */

  margin: 0 auto; /* Center the dashboard */
  padding: 2rem; /* Add padding around the dashboard */
  background-color: #f7fafc;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* responsive grid */
  grid-template-rows: auto; /* rows will adjust based on content */
  background-image: linear-gradient(to right, #e2e8f0 1px, transparent 1px),
                    linear-gradient(to bottom, #e2e8f0 1px, transparent 1px);
  background-size: 100px 100px; /* Adjust grid size to match rowHeight and column width */
  position: relative;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* responsive grid */
  grid-template-rows: auto; /* rows will adjust based on content */
  gap: 1rem; /* space between grid items */
}

.dashboard h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #2d3748;
}

.react-resizable-handle {
  width: 10px;
  height: 10px;
  background-color: #3182ce; /* Blue color for visibility */
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: se-resize; /* Show resize cursor */
  border-radius: 50%; /* Make it circular */
}